doctype html
html
  head
    title Portfolio
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/lion.jpg") 
                | VBS
            li #[a(href= "/") Home] 
            li #[a(href= "/") Login]
            li #[a(href= "/") About] 
            li #[a(href= "/contact") Contact us]
            li #[a(href= "/") Services] 
    block content
    footer#foot 
        h2 Copyright © 2022 TimepassWebsite.com     