extends base.pug

block scripts
    script(src="/static/index.js")

block style 
    style
      include ../static/style.css
      include ../static/styleContact.css

block content 
    div.container
        h2 Contact us
        form(action="/contact" method="post")
            input(type="text" class="myInput" name="name" placeholder="Enter ur name")
            input(type="number" class="myInput" name="number" placeholder="Enter ur phone number") 
            input(type="text" class="myInput" name="names" placeholder="Enter ur partner's name") 
            input(type="email" class="myInput" name="email" placeholder="Enter ur email_id") 
            input(type="text" class="myInput" name="hobby" placeholder="Enter ur hobbies") 
            button(class="btn")  
                | Submit

