extends base.pug

block scripts
    script(src="/static/index.js")

block style 
    style
      include ../static/style.css
      

block content

    section#intro 
        div Welcome to my awesome page
        div.small Vinayak Suryavanshi

    section#mission
        h2 Cards Display
        div.card
            h3 V
            div.card-box
                div.content
                    p Hello Hii welcome 
        div.card
            h3 Y
            div.card-box
                div.content
                    p Sorry it's ok
        div.card
            h3 T
            div.card-box     
                div.content
                    p Bye bye    

    section#ad 
        h2 ad section
        div#sponsor
            img(src="/static/logos/google.jpg", alt="Error not found", class="spimg")
            img(src="/static/logos/microsoft.jpg", alt="Error not found", class="spimg")
            img(src="/static/logos/accenture.png", alt="Error not found", class="spimg")
            img(src="/static/logos/dell.png", alt="Error not found", class="spimg")

