h2 {
    text-align: center;
    margin: 12px;

}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.myInput {
    width: 40%;
    padding: 8px;
    margin: 8px;
    font-size: 15px;
    border: 2px solid darkgray;
    border-radius: 10px;
    outline: none;
}

.btn {
    padding: 10px 13px;
    font-size: 15px;
    border: 2px solid rgb(20, 21, 21);
    border-radius: 10px;
    background-color: rgb(185, 240, 6);
    color: rgb(0, 0, 0);
    width: 30%;
    cursor: pointer;

}