@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    display: flex;
    color: wheat;
    align-items: center;
    margin: 0 14px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar {
    background-color: rgb(0, 0, 0);
    
    padding: 15px 4px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: x-large;
}
#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 30px;
}

#navbar li a:hover{
    text-decoration: none;
    color: rgb(248, 245, 87);
    font-weight: bold;
    padding: 5px 30px;
}

#intro {
    padding-bottom: 230px;
    height: 400px;
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 40px;
    flex-direction: column;
    background: center / cover no-repeat url("/static/img1.jpg");
}

#intro div.small {
    font-size: 30px;
}

#mission {
    height: 370px;
    background-color: lightskyblue;
    background: center / cover no-repeat url("/static/img3.jpg");
    
}

#mission h2{
    color: rgb(193, 199, 250);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 40px;    
}

.card {
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 30%;
    margin: 30px 25px;
    height: 200px;
}

.card h3{
    text-align: center;
    margin: 10px;
    color: aquamarine;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(248, 239, 239);
}



#ad {
    height: 300px;
    background-color: rgb(0, 0, 0);
}
#ad h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 40px;    
}
#sponsor {
    height: 200px;
    max-width: 1030px;
    margin: auto;
}
.spimg {
    height: 80%;
    margin: 20px;
}




#foot {
    height: 50px;
    background-color: rgb(159, 227, 81);
}

#foot h2{
    color: rgb(0, 0, 0);
    text-align: right;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;   
}
